@font-face {
    font-family: 'MrsEavesItalic';
    src: url('../fonts/MrsEavesItalic.eot');
    src: url('../fonts/MrsEavesItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MrsEavesItalic.woff') format('woff'),
        url('../fonts/MrsEavesItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'FuturaPTW01-Book';
    src: url('../fonts/FuturaPTW01-Book.eot');
    src: url('../fonts/FuturaPTW01-Book.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FuturaPTW01-Book.woff') format('woff'),
        url('../fonts/FuturaPTW01-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body, html {
    text-align: center;
}

#canvas-wrapper {
    position: relative;
    margin-top: 32px;
    max-width: 500px;
    max-height: 775px;
    width: 500px;
    height: 775px;
    overflow: hidden;
    border: 1px solid gray;
}
#canvas-wrapper img {
    position: absolute;
    top: 0px;
    left: 0px;
}

#canvas {
    z-index: 1;
    position: absolute;
    top: 0px;
    left: 0px;
}
#canvas-wrapper #photo_canvas {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -2;
}
#canvas-wrapper #bg_canvas {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
}

#controls h1 {
    font-family: 'MrsEavesItalic';
    background-color: #EB5530;
    color: white;
    padding: 5px;
}

.thumb {
    display: none;
}

/* Make placeholder text more readable */

#controls input {
    font-size: 24px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: darkgray;
}
::-moz-placeholder { /* Firefox 19+ */
  color: darkgray;
}
:-ms-input-placeholder { /* IE 10+ */
  color: darkgray;
}
:-moz-placeholder { /* Firefox 18- */
  color: darkgray;
}